.exec-board {
	background-color: white;
	padding-top: 4em;
	padding-bottom: 1em;

	div.col {
		height: 18em;
	}

	@media #{$medium-and-down} { 
		div.col {
			height: 22em;
		}
	}

	img {
		width: 75%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 1000px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	p {
		text-align: center;
		font-weight: 900;
		font-size: 1.2rem;
		padding: 0;
		padding-top: 0.8rem;
		margin: 0;
	}

	p.title {
		padding-top: 0;
		padding-bottom: 3em;
		font-weight: 200;
		font-size: 1.4rem;
	}

	.row {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	@media #{$small-and-down} {
		div.col {
			height: 18em;
		}
	}
}