footer {
	position: relative;
	padding: 1em 2em;

	a.icon {
		display: inline-block;
		margin-right: 0.4rem;
		background-color: white;
		color: black;
		height: 38px;
		width: 38px;
		text-align: center;
		border-radius: 60px;
		font-size: 1.4rem;
		line-height: 38px;

		transition: all 0.2s ease;
	}

	a.facebook-link:hover {
		background-color: #3b5998;
		color: white;
	}

	a.instagram-link:hover {
		background-color: #E91E63;
		color: white;
	}

	a.youtube-link:hover {
		background-color: red;
		color: white;
	}

	div.signature {
		color: white;
		display: inline-block;
		position: absolute;
		padding-right: 1em;
		line-height: 38px;
		right: 0;

		p {
			margin: 0;
			font-weight: 300;
		}
	}
}

@media #{$small-and-down} {
	footer {
		text-align: center;
	}
}
