.slider-container {
  height: 100vh;
}

.slides {
  font-family: 'Comfortaa', cursive;
  background-color: black !important;

  h3 {
  	font-weight: 700;
  }

  img {
  	opacity: 0.6;
  }

}

.slider {
  .indicators {
  	li.indicator-item {
  	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	}

  	li.indicator-item.active {
  	  background-color: #F44336;
  	}
  }
}

.slider.fullscreen {
  position: relative;
}