// bower:scss
// endbower
@import 'bower_components/materialize/sass/materialize';
@import '_timeline.scss';
@import '_cover.scss';
@import '_nav.scss';
@import '_slides.scss';

.custom-blue {
  background-color: #00c4f3;
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: black;
}

.section-header {
  font-family: 'Comfortaa', cursive;
  padding: 0.2em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  h1, h2, h3, h4, h5 {
    font-weight: 700;
  }
}
